/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Change font family to match Netflix */
    background-color: rgba(0, 0, 0, 0.89); /* Set background color */
    color: #fff; /* Set text color */
}

/* Centering the App content */
.App {
    display: flex;
    justify-content: center;
}



.Container {
    max-width: 1200px;
    padding: 20px;
}


.MainContent {
    padding-top: 80px;
}


.MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}


.MovieCard {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden; /* Hide overflow content */
    transition: transform 0.3s ease; /* Add transition for smooth hover effect */
    margin:auto;
}

.MovieCard:hover {
    transform: scale(1.05); /* Scale up on hover */
}

/* Styling for MovieCard Image */
.MovieCard-Image {
    width: 100%;
    height: 280px; /* Set height */
    object-fit: cover; /* Ensure image covers the container */
}

/* Styling for MovieCard Content */
.MovieCard-Content {
    padding: 15px;
}

/* Styling for MovieCard Title */
.MovieCard-Title {
    font-size: 18px; /* Adjust font size */
    margin-bottom: 10px; /* Add margin */
}

/* Styling for MovieCard Genre */
.MovieCard-Genre {
    font-size: 14px; /* Adjust font size */
}
